.article-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      min-height: 78vh;

      .title {
            padding: 15px;
            margin: 15px;
            font-size: 44px;
            font-weight: 600;
      }

      form {
            width: 100%;
      }

      mat-form-field {
            width: 100%;
      }

      .upper-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;

      }

      .bot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
      }

      .button-purple {
            background-color: #56ccc8;
            ;
            color: white;
      }

      .button-red {
            background-color: #fb6793;
            color: white;
      }

      .buttons {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: flex-end;
      }
}