.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  min-height: 78vh;

  .section-container {
    min-height: 50vh;
    width: 100%;
    .mat-elevation-z8 {
    width: 100%;

    .width-15 {
      width: 15%;
    }
  }
}

  .table-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.title {
  padding: 15px;
  margin: 15px;
  font-size: 44px;
  font-weight: 600;
}

.button-mint {
  background-color: #56ccc8;
  color: white;
}

