main {
      flex-direction: column;

      mat-card {
            display: flex;
            ;
            flex-direction: column;
            align-items: center;
            width: 70%;
            min-height: 78vh;

            .title {
                  padding: 15px;
                  margin: 15px;
                  font-size: 44px;
                  font-weight: 600;
            }

            form {
                  display: flex;
                  flex-direction: column;

                  .form-container {
                        display: flex;
                        justify-content: space-around;
                        gap: 30px;
                        margin-bottom: 15px;

                        div {
                              display: flex;
                              flex-direction: column;
                              gap: 15px;
                        }
                  }

                  .button-purple {
                        background-color: #56ccc8;
                        color: white;
                        margin: 15px;
                        width: 45%;
                        align-self: center;
                  }
            }
      }
}