main h1 {
      font-size: 44px;
      padding: 7%;
      font-weight: 600;
      margin: 0 auto;
}
mat-card {
      height: 78vh;
      width: 70%;
}

.article-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 10px;
}

 