<main>
      <mat-card>
            <h1 class="title">Edit My Profile</h1>
            <form [formGroup]="form" *ngIf="form" (submit)="onSubmit()">
                  <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" required>
                  </mat-form-field>
                  <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" required>
                  </mat-form-field>
                  <mat-form-field>
                        <mat-label>Image Url</mat-label>
                        <input matInput formControlName="imageUrl">
                  </mat-form-field>
                  <div class="buttons">
                  <button mat-raised-button class="button-red" type="button" (click)="onBack()">Cancel</button>
                  <button mat-raised-button class="button-purple" type="submit">Confirm</button>
                  </div>
            </form>
      </mat-card>
</main>