<main>
      <mat-card>
            <h1 class="title">Edit My Profile</h1>
            <form [formGroup]="form">
                  <mat-form-field>
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" required>
                  </mat-form-field>
                  <mat-form-field>
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" required>
                  </mat-form-field>
                  <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" required>
                  </mat-form-field>
                  <button mat-raised-button class="button-red" type="button" (click)="onBack()">Cancel</button>
                  <button mat-raised-button class="button-purple" type="submit">Edit</button>
            </form>
      </mat-card>
</main>