.article-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 10px;
}

.article-title {
      color: #9990ff;
      font-size: 28px;
}

.created-date {
      color: #56ccc8;
}

.article-body {
      color: #6f6f6f;
}
 