<main>
      <mat-card class="articles-list">
            <h1 class="title">Articles</h1>
            <div *ngIf="articles">
                  <div *ngFor="let article of articles" class="articles">
                        <app-article [article]="article"></app-article>
                  </div>
            </div>
            <div class="empty-page" *ngIf="articles?.length === 0">
                  <div><img src="../../../../assets/empty.png" alt="open-book"></div>
                  <h2>There are no articles created yet.</h2>
            </div>
      </mat-card>
</main>