      .title {
            padding: 15px;
            margin: 15px;
            font-size: 44px;
            font-weight: 600;
      }

      .articles-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            min-height: 78vh;
      }

      .articles {
            width: 100%;

            .article-container {
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  margin: 10px;
            }
            
            .article-title {
                  color: #9990ff;
                  font-size: 28px;
            }
            
            .created-date {
                  color: #56ccc8;
            }
            
            .article-body {
                  color: #6f6f6f;
            }
            
      .button-purple {
            background-color: #56ccc8;
            color: white;
      }

      .button-red {
            background-color: #fb6793;
            color: white;
      }
      }

      .empty-page {
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            width: 70%;
            align-items: center;
            justify-content: center;

            img {
                  max-width: 400px;
            }
      }