main {
      flex-direction: column;

      mat-card {
            display: flex;
            ;
            flex-direction: column;
            align-items: center;
            width: 70%;
            height: 78vh;

            .title {
                  padding: 15px;
                  margin: 15px;
                  font-size: 44px;
                  font-weight: 600;
            }

            form {
                  display: flex;
                  flex-direction: column;

                  .button-mint {
                        background-color: #56ccc8;
                        color: white;
                        margin: 15px;
                  }
            }
      }
}